@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');





/*  Fonts and Color*/

body { 
  background-color: rgb(255, 255, 255);
    }

:root {
    font-size: 16px;
    }

 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    font-size: 3rem;
    width: 100%;
    line-height: 150%;
    color: #1A47B0;
    margin-bottom: 2.5rem;
    text-align: center;
      }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    width: 100%;
    line-height: 150%;
    color: #1A47B0;
    margin-bottom: 2.5rem;
    text-align: center;
      }   

  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 0.75rem;
    width: 100%;
    line-height: 150%;
    color: #1A47B0;
    }
  
    .subhead {
      margin-bottom: 1.5rem;
      font-weight: normal;
    }

    .onepercent {
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      font-weight: normal;
    }


 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    line-height: 100%;
    margin-bottom: 1em;
    color: #1A47B0;
      }
  
  h5 {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    width: 100%;
    line-height: 150%;
    margin-bottom: 0.5em;
      }    
        
  h6 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: auto;
    line-height: 150%;
    color: #75B8F1
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
    line-height: 150%;
    color: #595F6F;
    }

   .margintop {
     margin-top: 2rem;
   }

.italic {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.italic_left{
  font-weight: lighter;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: left;
}

figcaption {
  color: #595F6F;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 00.75rem;
  font-weight: lighter;
  text-align: center;
}

.quoteby {
  color: #595F6F;
  font-family: "Roboto", sans-serif;
  font-size: 00.75rem;
  font-weight: lighter;
  text-align: center;
}

li{
  font-family: "Roboto", sans-serif ;
  font-size: 0.75rem;
  margin-bottom: 5px;
  width: 100%;
  line-height: 150%;
}

mark.blue {
  color:#1A47B0;
  background: none;
}

.hero-head {
  color: #fff;
  margin-bottom: 1rem;
}

.hero_p {
  color: #D9EFFF;
  text-align: center;
}

.hero_text {
  padding-top: 4rem;
  color: white;
  text-align: center;
}



/* divs */

.video {
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}

.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.container {
  width: 92%;
  margin: 0 auto;
}

.design_process {
  width: 100%;
  margin: 0 auto;
}

.parallax_outcome {
  width: 92%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media all and (min-width: 600px) {
  .parallax_outcome {
      width: 80%; 
  }
}

@media all and (min-width: 768px) {
  .parallax_outcome {
      width: 75%; 
  }
}


.parallax_style {
  width: 92%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media all and (min-width: 600px) {
  .parallax_style {
      width: 80%; 
  }
}

@media all and (min-width: 768px) {
  .parallax_style {
      width: 75%; 
  }
}

.parallax_iterations{
  width: 92%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media all and (min-width: 600px) {
  .parallax_iterations {
      width: 80%; 
  }
}

@media all and (min-width: 768px) {
  .parallax_iterations {
      width: 75%; 
  }
}


.parallax_goals{
  width: 92%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media all and (min-width: 600px) {
  .parallax_goals {
      width: 80%; 
  }
}

@media all and (min-width: 768px) {
  .parallax_goals {
      width: 75%; 
  }
}

.parallax_award{
  width: 92%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media all and (min-width: 600px) {
  .parallax_award {
      width: 80%; 
  }
}

@media all and (min-width: 768px) {
  .parallax_award {
      width: 75%; 
  }
}

.single_col {
  width: 100%;
}

div.stopmotion {
  margin-bottom: 2rem;
}

.inspiration {
  margin-bottom: 3rem;
}

.moodboard {
  margin-bottom: 2rem;
}


/*////////////// sections /////////////////////*/

section {
  padding: 4rem 0 0 0;
}

.hero {
  color: white;
  background-image: url(images/Iterations_parallax_bg.svg);
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@media all and (min-width: 768px) {
  .hero {
    height: 130vh;
  }

  .hero_text {
    padding-top: 16rem;
  }
}

.hero_tagline {
  padding-top: 1.5rem;
  color: #D9EFFF
}

.hero_video{
    /* width: 100%; */
    text-align: center;
    display: block;
    margin-bottom: 10rem;
    padding-top: 4rem;
}

.newoverview {
  margin-top: 12rem;
}

.parallax_1 {
  background-image: url(images/Iterations_parallax_bg.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_2 {
  background-image: url(images/Iterations_parallax_bg.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_3 {
  background-image: url(images/Iterations_parallax_bg.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_4 {
  background-image: url(images/Iterations_parallax_bg.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_5 {
  background-image: url(images/Iterations_parallax_bg.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_process {
  background-image: url(images/Iterations_parallax_bg.svg);
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newoutcome {
  /* background-image: url(images/Outcome_BG.svg); */
  margin-top: 0rem;
  padding: 5rem 0 3rem 0;
}

/* .tools, .challenge, .takeaways {
  margin-top: 2rem;
} */

.tools, .process, .wewon {
  margin-bottom: 2rem;
}

.process_image {
  margin-top: 4rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

  audio {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.music{
  margin-top: 2rem;
}

/*////////////// grids /////////////////////*/

.grid_heading{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.grid_title{
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.grid_p {
  color: #D9EFFF;
  text-align: left;
}

.overview {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 56px;
  width: 100%;
}


@media all and (min-width: 768px) {
  audio {
    width: 65%;
    padding-top: 2rem;
  }
}

.right_column {
  margin-top: 7px;
  display: grid;
  grid-gap: 10px;
  width: 100%;
}

.style, .open, .goalsachieved  {
  margin-top: 4rem;
  padding: 4rem 0 3rem 0;
  /* background-image: url(images/Style_BG.svg); */
}

.testimonial {
  padding-top: 5rem;
  padding-bottom: 2rem;
}


@media all and (min-width: 600px) {
    .container {
        width: 80%; 
    }
    .single_col {
      width: 90%;
      margin: 0 auto;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 75%; 
    }

    .single_col {
      width: 60%;
      margin: 0 auto;
    }
}

.style_grid, .open_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  width: 100%;
  margin-top: 2rem;
}

.two_column_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  width: 100%;
  margin-top: 2rem;
}

@media all and (min-width: 568px) {
  .two_column_grid{
    grid-template-columns: 1fr 1fr;
  }
}

.six_col_images_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

@media all and (min-width: 568px) {
  .style_grid, .open_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .six_col_images_grid {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}

@media all and (min-width: 768px) {
  .six_col_images_grid {
      grid-gap: 4rem;
    }
}

@media all and (min-width: 1000px) {
  .six_col_images_grid {
    width: 80%;
    margin: 0 auto
    }
}

.four_row_images_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.30rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
 }

 @media all and (min-width: 768px) {
  .four_row_images_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.two_vid_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.3rem;
  padding: 2rem;
 }

 @media all and (min-width: 768px) {
  .two_vid_grid  {
    grid-template-columns: 1fr 1fr;
    }
}


 .change_grid {
   margin-top: 4rem;
   margin-bottom: 1rem;
 }

/* .open {
  background-image: url(images/OpeningShot_Bg.svg);
} */

.inspiration_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  width: 100%;
  margin-top: 2rem;
 }

 .chief {
   grid-area: chief;
   background-size: cover;
 }

 .inspiration_img_1 {
   object-fit: contain;
 }

 .change_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.3rem
 }

 @media all and (min-width: 768px) {
  .change_grid   {
    grid-template-columns: 1fr 1fr;
    }
}


.center {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.davey_grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 1.25rem;
  width: 100%;
  margin-top: 2rem;
 }

 .davey {
   width: 100%;
   margin-top: 150px;
 }

 @media all and (min-width: 680px) {
  .inspiration_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.3rem;
    padding: 2em;
    grid-template-areas: chief video
                        cap cap2;
 }
 .center {
    width: 50%;
  }

  .davey {
    width: auto;
    margin-top: 50px;
    height: 300px;
  }
}