@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

:root {
    font-size: 16px;
    }

 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    font-size: 3rem;
    width: 100%;
    line-height: 150%;
    color: #1A47B0;
    margin-bottom: 2.5rem;
    text-align: center;
      }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    width: 100%;
    line-height: 150%;
    color: #1A47B0;
    margin-bottom: 2.5rem;
    text-align: center;
      }   

  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 0.75rem;
    width: 100%;
    line-height: 150%;
    color: #1A47B0;
    }
  
    .subhead {
      margin-bottom: 1.5rem;
      font-weight: normal;
    }

 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    line-height: 100%;
    margin-bottom: 1em;
    color: #1A47B0;
      }
  
  h5 {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    width: 100%;
    line-height: 150%;
    margin-bottom: 0.5em;
      }    
        
  h6 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: auto;
    line-height: 150%;
    color: #75B8F1
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
    line-height: 150%;
    color: #595F6F;
    }

.italic {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
  padding-top: 2rem;
}

figcaption {
  color: #595F6F;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 00.75rem;
  font-weight: lighter;
  text-align: center;
}

li{
  font-family: "Roboto", sans-serif ;
  font-size: 0.75rem;
  margin-bottom: 5px;
  width: 100%;
  line-height: 150%;
}

mark.blue {
  color:#1A47B0;
  background: none;
}

body { 
  background-color: rgb(255, 255, 255);
    }

.container {
    width: 92%;
    margin: 0 auto;
}

.single_col {
    width: 100%;
}

section {
  padding: 5rem 0 0 0;
}

.hero {
  color: white;
  background-image: url('/images/Hero_BG.svg');
  background-size: cover;
  height: 70vh;
}

.hero-head {
  color: #fff;
  margin-bottom: 1rem;
}

.hero_p {
  color: #D9EFFF;
  text-align: center;
}

.hero_text {
  padding-top: 4rem;
  color: white;
  text-align: center;
}

.grid_heading{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.grid_title{
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.grid_p {
  color: #D9EFFF;
  text-align: left;
}

@media all and (min-width: 768px) {
  .hero {
    height: 130vh;
  }

  .hero_text {
    padding-top: 16rem;
  }
}

.hero_tagline {
  padding-top: 1.5rem;
  color: #D9EFFF
}

.hero_video{
    /* width: 100%; */
    text-align: center;
    display: block;
    margin-bottom: 10rem;
    padding-top: 4rem;
}

audio {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media all and (min-width: 768px) {
  audio {
    width: 70%;
  }
}

div.stopmotion, div.inspiration {
  margin-bottom: 2rem;
}

.video {
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}

.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.newoutcome {
  background-image: url(images/Outcome_BG.svg);
  margin-top: 5rem;
  padding: 5rem 0 3rem 0;
}

.newoverview {
  margin-top: 12rem;
}

.overview {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 56px;
  width: 100%;
}

.ricktestimonial {
  margin:100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 56px;
  width: 100%;
}


.right_column {
  margin-top: 7px;
  display: grid;
  grid-gap: 10px;
  width: 100%;
}
.tools, .challenge, .takeaways {
  margin-top: 2rem;
} 

/* .storyboard {
  margin-top: 8rem;
} */

.moodboard {
  margin-bottom: 2rem;
}

.style, .open, .goalsachieved {
  margin-top: 5rem;
  padding: 5rem 0 3rem 0;
  background-image: url(images/Style_BG.svg);
}

.testimonial {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.goalsachieved {
  background-image: url(images/Style_BG.svg);
}

@media all and (min-width: 600px) {
    .container {
        width: 80%; 
    }
    .single_col {
      width: 90%;
      margin: 0 auto;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 75%; 
    }

    .single_col {
      width: 60%;
      margin: 0 auto;
    }
}
.style_grid, .open_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
  width: 100%;
  margin-top: 2rem;
}

.six_col_images_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

@media all and (min-width: 568px) {
  .style_grid, .open_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .six_col_images_grid {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}

@media all and (min-width: 768px) {
  .six_col_images_grid {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 4rem;
    }
}

@media all and (min-width: 1000px) {
  .six_col_images_grid {
    width: 80%;
    margin: 0 auto
    }
}

.four_row_images_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.30rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
 }

.two_vid_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.3rem;
  padding: 2rem;
 }


 .open {
  background-image: url(images/OpeningShot_Bg.svg);
}

.inspiration_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.3rem;
  padding: 2em;
  grid-template-areas: chief video
                       cap cap2;
 }

 .chief {
   height: 100%;
   grid-area: chief;
   background-size: cover;
   background-image: url(images/Maori_Resized.png);
 }

 .inspiration_img_1 {
   object-fit: contain;
 }

 .change_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.3rem
 }

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wewon {
  background-image: url(images/Award_newBg.svg);
}

.davey_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
  width: 100%;
  margin-top: 2rem;
 }